@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff; /* Set text color to white or any other contrasting color */
  }
  